@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    // margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url('../images/menu-white.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.toggle.active {
    background: #000 url('../images/close-white.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.section-padding {
    padding: 150px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx,
.sidebar {
    background-color: steelblue;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.logoTexT {
    position: absolute;
    top: 10px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #000;
    color: #fff; 
    padding: 0 5px;
}

.banner .contentBx h4 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
}

.banner .contentBx h4 span {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2 {
    font-size: 3em;
    color: #fff;
    line-height: 1em; 
}

.banner .contentBx p {    
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
}

.btn {
    background: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; 
    padding: 10px 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.home-para {
    line-height: 2;
}

.sidebar {
    position: fixed;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0; 
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 100;
}

.sidebar ul li a:hover {
    color: steelblue;
}

.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    margin-right: 20px;
    list-style: none;
}

.sci li img {
    transform: scale(.5);
    opacity: .7;
}

.sci li img:hover {
    opacity: 1;
}

.title {
    width: 100%; 
    text-align: center;
    // padding: 2.5rem;
}

.title h2 {
    position: relative;
    color: steelblue;
    font-size: 1.8em;
    font-weight: 700; 
    letter-spacing: 1px; 
}

.title p {
   max-width: 700px;
   display: inline-block;   
   
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background-color: #000;
}
.title.white h2,
.title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}

.about {
     background: #000;
}

.content-about {
    // background-color: red;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-para {
    width: 100%;
    padding: 1.5rem;
    line-height: 2;
}

.about .content .textBx {
    min-width: 49%;
    width: 49%;
}

.about .content .textBx p {
    color: #fff;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img{
    width: 100%;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

// Services Page
.services .content .servicesBx { 
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: .5s;
    text-align: center;
    background-color: steelblue;
}

.services .content .servicesBx:hover{ 
    background: #000;
    color: #fff;
}

.services .content .servicesBx img { 
    max-width: 80px;
    transition: .5s;
} 

.services .content .servicesBx:hover img {
    filter: inherit(1);
}


.services .content .servicesBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
    color: #fff;
}

.services .content .servicesBx p {
    color: #fff;
    margin: 0;
    transition: .5s;
}

// Work Page
.work {
    margin-bottom: 10rem;
}

.work-para {
    color: #fff;
    padding: 1.5rem;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work .content .workBx {
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: .5s;
    text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .workBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .textBx {
    background: #000;
    opacity: 0;
    transition: .5s;
}

.work .content .workBx:hover .textBx {
    opacity: 1
}

.work .content .workBx:hover .textBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
} 

// Contact Page 
.contact {
    background: steelblue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 700px;
    margin-top: 20px;
}

input {
    background: none;
    color: #fff;
    display: flex;
    width: 100%;
    padding: 1.5rem 1.1rem;
    border: none;
    outline: 1px solid #fff;
    margin: 1rem;
}

textarea {
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    outline: 1px solid #fff;
    margin: 1rem;
    background: none;
    padding: 1.5rem 1.1rem;
}

::placeholder {
    color: #fff;
}

button {
    background: #000;
    border: none;
    color: #fff;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
    outline: none;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

